
ol{
    display: flex;
    list-style:none;
    height: 100%;
    margin: 0;
}

header ol li{
    font-weight: bold;
    text-align: center;
    height: 100px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: greenyellow;
}

header li:hover{
    background-color:greenyellow;
    color: black;
    border-bottom: 3px black solid;
}

#fijado{
    background-color:greenyellow;
    color: black;
    border-bottom: 3px black solid;
}

body{
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 100px;
}

label, input{
    margin:10px;
    font-weight: bold;
}
fieldset{
    border-radius: 20px;
}